header{
	/*border: 2px solid black;*/
	display: flex;
	justify-content: space-between;
}

.header1{
	width: 15%;
}
.logo{
	margin-left: 30px;
}
.logo img{
	width: 200px;
	height: 80px;
}
.list{
	width: 500px;
}
.list ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px;
}
.list ul li a{
	color: gray;
	text-decoration: none;
	list-style-type: none;
	font-weight: bold;
	display: inline-block;
	padding: 10px;
	margin-bottom: 0;
	
}
.list ul li a:hover{
	/*text-decoration: underline;
	text-decoration-color: blue;*/	
	border-bottom: 2px solid blue;
	color: black;
	
}	

.click button{
	padding: 20px;
	margin-top: 15px;
	border-radius: 25px;
	background-color: pink;
	border-color: pink;
}
.click button a{
	text-decoration: none;
	color: blue;
	font-weight: bold;
}
/*HEADER ENDED*/

.parent{
	/*border: 1px solid black;*/
	height: 680px;
	width: 80%;
	position: relative;
	margin: auto;
}
.child1{
	position: absolute;
	left: 10px;
}
.child2{
	position: absolute;
	bottom: 0;
	left: 10px;
}
.child3{
	position: absolute;
	top: 50px;
	right: 0px;
}

/*.child{
	width: 350px;
	height: 500px;
}*/

/*CHILD 1 STARTS*/

.child1 h1{
	width: 350px;
	font-size: 60px;
	margin-bottom: 30px;
}
.child1 p{
	width: 350px;
	margin-bottom: 40px;
}
.childdiv{
	display: flex;
}
.div1 button{
	border-radius: 25px;
	background-color: blue;
	border-color: blue;
	padding: 20px;
	width: 150px;
}
.div1 button:hover{
	background-color: #0000ffab;
}

.div1 button a{
	text-decoration: none;
	color: white;
}

/*CHILD 2 STARTS*/

.tick{
	display: flex;
	background-color: #ffe4e1;
	margin-bottom: 5px;
	padding: 10px 10px;
	border-radius: 20px;	
	
}
.tick:hover{
	background-color: white;
}
.tick img{
	height: 40px;
	width: 40px;
}
.tick p{
	width: 100%;
	margin-left: 20px;
	
}
.but{
	width: 100px;
	height: 15px;
	border-radius: 20px;
	margin-top: 15px;
}
.but1{
	background-color: pink;
}
.but2{
	background-color: red;
}
.but3{
	background-color: green;
}
.but4{
	background-color: yellow;
}
.child3 img{
	width: 600px;
	height: 600px;
}
